.information__title {
	font-family: "Indie Flower", cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 30px;
	margin-top: 20px;
	gap: 100px;
	color: black;
	display: flex;
	justify-content: center;
}
.information__message {
	font-family: "Indie Flower", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 45px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.red__text {
	color: rgb(206, 36, 36);
	font-size: 45px;
}

.black__text {
	color: black;
	font-size: 40px;
}

.blue__text {
	color: rgb(54, 54, 152);
	font-size: 45px;
}

.green__text {
	color: rgb(164, 164, 167);
	font-size: 45px;
}
